<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="toolname">SimulationLoader</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%L - %m%n"/>
            <!--
            ConversionPattern format specification
            %-5p    fügt die Log-Level-Angabe hinzu, 5 Zeichen, links-bündig
            %d      fügt das nach dem DatePattern gewünschte Datum (%d{yyyy-MM-dd HH:mm:ss,SSS}) hinzu
            %t      Name des Threads
            %c{1}   fügt den Klassennamen hinzu
            %L      fügt Zeilennummer hinzu
            %m      Benutzernachricht
            %n      Seperator (z.B. neue Zeile)
            -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console-log" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
